{% extends "base.html" %}
{% block content %}
		
	<form class="form-horizontal" action="/created" method="POST">
	<fieldset>

	<legend>Assign Users To Project</legend>

		<!-- Select Basic -->
		<div class="form-group">
		<label class="col-md-4 control-label" for="Assign">Assign Users</label>
			<div class="col-md-4">
			<select id="Assign" name="item_users" class="form-control">
				<option value="{{user}}">{{user}}</option>
			</select>
			</div>
		</div>


		<!-- Button -->
		<div class="form-group">
		<label class="col-md-4 control-label" for="Submit">Submit</label>
			<div class="col-md-4">
			<button id="Submit" name="Submit" class="btn btn-success">Submit</button>
			</div>
		</div>

	</fieldset>
	</form>
	
</div>
{% endblock %}