{% extends "base.html" %}
{% block content %}
		
	<form class="form-horizontal" action="/created" method="POST">
	<fieldset>

	<legend>Knowledge Creator</legend>

		<!-- Select Basic -->
		<div class="form-group">
		<label class="col-md-4 control-label" for="Association">Associate With Task</label>
			<div class="col-md-4">
			<select id="Association" name="item_association" class="form-control">
			{% for item in items %}
				<option value="{{item.name}}">{{item.name}}</option>
			{% endfor %}
			</select>
			</div>
		</div>


		<!-- Button -->
		<div class="form-group">
		<label class="col-md-4 control-label" for="Submit">Submit</label>
			<div class="col-md-4">
			<button id="Submit" name="Submit" class="btn btn-success">Submit</button>
			</div>
		</div>

	</fieldset>
	</form>
	
</div>
{% endblock %}