{% extends "base.html" %}
{% block content %}
		
	<form class="form-horizontal" action="/created" method="POST">
	<fieldset>

	<!-- Form Name -->
	<legend>Project Creator</legend>

		<!-- Select Basic -->
		<div class="form-group">
		<label class="col-md-4 control-label" for="Category">Category</label>
			<div class="col-md-4">
			<select id="Category" name="item_type" class="form-control">
			<option value="Task">Project</option>
			</select>
			</div>
		</div>

		<!-- Text input-->
		<div class="form-group">
		<label class="col-md-4 control-label" for="textinput">Project Name</label>  
			<div class="col-md-4">
			<input id="username" name="item_name" type="text" placeholder="Project Name" class="form-control input-md" required="">
			<span class="help-block">Title</span>  
			</div>
		</div>
	
		<!-- Text input-->
		<div class="form-group">
		<label class="col-md-4 control-label" for="Description">Description</label>  
			<div class="col-md-4">
			<input id="description" name="item_description" type="text" placeholder="Project Description" class="form-control input-md">
			<span class="help-block">Description text</span>  
			</div>
		</div>

		<!-- Select Basic -->
		<div class="form-group">
		<label class="col-md-4 control-label" for="Association">Add Users</label>
			<div class="col-md-4">
			<select id="ItemUsers" name="item_users" class="form-control">
				<option value="{{user}}">{{user}}</option>
			</select>
			</div>
		</div>
		

		<!-- Button -->
		<div class="form-group">
		<label class="col-md-4 control-label" for="Submit"></label>
			<div class="col-md-4">
			<button id="Submit" name="Submit" class="btn btn-success">Submit</button>
			</div>
		</div>

	</fieldset>
	</form>
	
</div>
{% endblock %}