{% extends "base.html" %}

{% block content %}
       <div class="header vert" align="left">
        <div id="legend">
			<h1 class="page-header">All Task and Knowledge items</h1>
        </div>
		
		<div class="form-group">
			<label class="control-label">Enter search term here</label>
			<div class="input-group">
				<input type="text" class="form-control">
				<span class="input-group-btn">
				<button class="btn btn-default" type="button">Search</button>
				</span>
			</div>
		</div>		
        
		<div>
			<div class="list-group" style="margin-top:70px;">
				{% for item in items %}
				<a href="/details" class="list-group-item" style="margin-top:-60px;">
			    {{item.name}}
<a href="/push" class="badge" style="position:relative;margin-top:-60px;margin-left:930px;">Push</a>
			    <a href="/delete" class="badge" style="position:relative;margin-top:-100px;margin-left:980px;">Delete</a>
			    <a href="/edit" class="badge" style="position:relative;margin-top:-140px;margin-left:1035px;">Edit</a>
				</a>
				{% endfor %}
			</div>

		</div>
{% endblock %}