{% extends "base.html" %}

{% block content %}
       <div class="header vert" align="left">
        <div id="legend">
			<h1 class="page-header">All Task and Knowledge items</h1>
        </div>
		
		<div class="form-group">
			<label class="control-label">Enter search term here</label>
			<div class="input-group">
				<input type="text" class="form-control">
				<span class="input-group-btn">
				<button class="btn btn-default" type="button">Search</button>
				</span>
			</div>
		</div>		
        
<table class="table table-striped table-hover ">
<thead>
<tr>
	<th>Name</th>
	<th>Type</th>
	<th>Description</th>
	<th>Owner</th>
	<th>Association</th>
</tr>
</thead>
	<tbody>
		{% for item in items %}
		<tr>
			<td>{{ item.name}}</td>
			<td>{{ item.type}}</td>
			<td>{{ item.description}}</td>
			<td>{{ item.owner}}</td>
			<td>{{ item.association}}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>


{% endblock %}