
{% extends "base.html" %}
{% block nav %}
        
{% endblock %}
{% block content %}
      <h1>Tasks</h1>
		<div>
			<div class="list-group" style="margin-top:90px;">
				{% for item in items %}
				<a href="/details_task?citem={{item}}" class="list-group-item" style="margin-top:-80px;">
			    {{item.name}}
			    <a href="/push?pitem={{item}}" class="badge" style="position:relative;margin-top:-60px;margin-left:930px;">Push</a>
			    <a href="/delete?ditem={{item}}" class="badge" style="position:relative;margin-top:-100px;margin-left:980px;">Delete</a>
			    <a href="/edit?eitem={{item}}" class="badge" style="position:relative;margin-top:-140px;margin-left:1035px;">Edit</a>
			    <a href="/finished?fitem{{item}}" class="badge" style="position:relative;margin-top:-180px;margin-left:1075px;">Finished</a>
				</a>
				{% endfor %}
			</div>

		</div>
		<a href="/newtask" class="btn btn-default"><b><font color=#317eac>Create New Task</font></b></a>
		
{% endblock %}