{% extends "base.html" %}
{% block nav %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Categories<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="">Projects</a></li>
            <li><a href="">Tasks</a></li>
            <li><a href="">Knowledge</a></li>
            <li><a href=""></a></li>
          </ul>
        </li>
{% endblock %}
{% block content %}
      <h1>User's Tasks</h1>
		<div>
			<div class="list-group">
				{% for item in items %}
				<a href="/details" class="list-group-item">
			    {{item.name}}
				</a>
				{% endfor %}
			</div>
			<div class="jumbotron">
 				<h1>Preview pane</h1>
				<p>Need to get details of selected task in here somehow</p>
			</div>

		</div>
{% endblock %}